extends layout
block content
    .functional
        input(id='logout' type='button' value='登出')
        input(id='previous' type='button' value='返回')
    .content
        table.tb
            + tab(keys,values)
    script(src='/javascripts/home.js')
